{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau frais forfait{% endblock %}

{% block body %}
    <div class="showback">
        <h1 class="bleu-gsb">Ajouter un nouveau frais forfait</h1>
    </div>

    <div class="text-center">
        {{ include('frais_forfait/_form.html.twig', {'button_label': 'Valider l\'ajout'}) }}
        <br>
        <a href="{{ path('frais_forfait_index') }}"><button class="btn btn-primary">Retour</button></a>
    </div>
{% endblock %}
