{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle ligne frais hors forfait{% endblock %}

{% block body %}
    <div class="showback">
        <h1 class="bleu-gsb">Ajouter une nouvelle ligne frais hors forfait</h1>
    </div>

    <div class="text-center">
        {{ include('ligne_frais_hors_forfait/_form.html.twig', {'button_label': 'Valider l\'ajout'}) }}
        <br>
        <a href="{{ path('ligne_frais_hors_forfait_index') }}"><button class="btn btn-primary">Retour</button></a>
    </div>
{% endblock %}
