<form method="post" action="{{ path('fiche_frais_delete', {'id': fiche_frai.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet état ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_frai.id) }}">
    {% if app.request.attributes.get('_route') == 'fiche_frais_index' %}
        <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
    {% elseif app.request.attributes.get('_route') == 'fiche_frais_show' %}
        <button class="btn btn-danger">Supprimer</button>
    {% endif %}
</form>
