<form method="post" action="{{ path('visiteur_delete', {'id': visiteur.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce visiteur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visiteur.id) }}">
    {% if app.request.attributes.get('_route') == 'visiteur_index' %}
        <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
    {% elseif app.request.attributes.get('_route') == 'visiteur_show' %}
        <button class="btn btn-danger">Supprimer</button>
    {% endif %}
</form>
