{% extends 'base.html.twig' %}

{% block title %}Modification de {{ etat.libelle }}{% endblock %}

{% block body %}
    <div class="showback">
        <h1 class="bleu-gsb">Modification de {{ etat.libelle }}</h1>
    </div>

    <div class="text-center">
        {{ include('etat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <br>
        <a href="{{ path('etat_index') }}"><button class="btn btn-primary">Retour</button></a>
    </div>
{% endblock %}
