{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel état{% endblock %}

{% block body %}
    <div class="showback">
        <h1 class="bleu-gsb">Ajouter un nouvel état</h1>
    </div>

    <div class="text-center">
        {{ include('etat/_form.html.twig', {'button_label': 'Valider l\'ajout'}) }}
        <br>
        <a href="{{ path('etat_index') }}"><button class="btn btn-primary">Retour</button></a>
    </div>
{% endblock %}
